@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>


<h2>Grupo 5</h2>


<p>Daniel Pereira, nº1012117</p>

<p>Filipe Martins, nº 1011353</p>

<p>Gerir Guias – CRUD</p>

<p>Partilhar Trilho nas redes sociais com informações atualizadas (por
    exemplo condições atmosféricas) e se está aberto ou fechado</p>

    


   


    
