@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>ijfnsdi</h3>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Crair Guia</h2>
        </div>
    </div>
    <form >
        Primeiro Nome:<br>
        <input type="text" name="firstname" value="">
        <br>
        Ultimo Nome:<br>
        <input type="text" name="lastname" value="">
        <br>
        Numero Telemovel:<br>
        <input type="number" name="phonenumber" value="" maxlength="9">
        <br>
        Email:<br>
        <input type="email" name="email" value="">
        <br>
        Idade:<br>
        <input type="number" name="age" value="" maxlength="2">
        <br>
        Trilhos que pode pecorrer:<br>
        <br>
        <input type="checkbox" name="1" value="1">Trilho 1
        <br>
        <input type="checkbox" name="2" value="2">Trilho 2 
        <br>
        <input type="checkbox" name="3" value="3">Trilho 3
        <br>
        <input type="submit" value="Submit">
    </form>
</div>