@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .container2 {
            width: 450px;
            height: 400px;
            text-align: center;
            margin: 0 auto;
            background-color:rgba(0,0,0,0.7);
            broder-radius:4px;
            margin-top:100Px;
        }
        .container2 img{
            width:120px;
            height:120px;
            margin-top:-60px;
            margin-bottom:30px;
        }
        input{
            height:45px;
            width:300px;
            color:saddlebrown;
            font-size:20px;
            margin-bottom:20px;
            background-color:#fff;
            padding-left:30px;
        }
        .form-input::before{
            content:"\f007";
            position:absolute;
            font-family:FontAwesome;
            font-size:30px;
            padding-left:5px;
            color:saddlebrown;
            padding-top:0px;
        }
        .form-input:nth-child(2)::before {
            content: "\f023";           
        }
        .btn1{
            height:45px;
            width:180px;
            padding:5px 30px;
            color:saddlebrown;
            border-radius:4px;
            border:none;
            background-color:sandybrown;
            border-bottom: 2px solid saddlebrown;
        }
        a{
            color:sandybrown;
        }
    </style>
</head>

<div class="container2">
    <img src="~/images/login-icon.png" />
    <form>
        <div class="form-input">
            <input type="text" name="username" placeholder="Enter Username">
        </div>
        <div class="form-input">
            <input type="password" name="password" placeholder="Enter Password">
        </div>
        <input type="submit" name="submit" value="LOGIN" class="btn1">
        <br>
        <a href="#">Forget Password?</a>
    </form>
</div>
