@{
    ViewData["Title"] = "Trilhos";
}
<div class="panel">
    <h1>   Trilhos</h1>
    
    <p>
        Escolher trilhos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select>
            <option value="volvo">Escolher Trilho</option>
            <option value="saab">Opção1</option>
            <option value="opel">Opção2</option>
            <option value="audi">Opção3</option>
        </select>
    </p>
    <br>&nbsp;
    <input type="submit" name="submit" value="Partilhar Informação" class="btn1">
    <br>&nbsp;
</div>
